<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.cokuss.chhe.pinmoney">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.MainActivity_">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".help.HelpActivity" />

        <activity
            android:name=".activity.ShowHistoryActivity"
            android:label="PMHistory"
            android:parentActivityName=".activity.MainActivity_">
        </activity>

        <activity
            android:name=".activity.NewRecipientActivity"
            android:label="Neuer Empfänger"
            android:parentActivityName=".activity.MainActivity_">

        </activity>

        <activity
            android:name=".activity.ShowAuszugActivity"
            android:label="Kontoauszug"
            android:parentActivityName=".activity.MainActivity_">
        </activity>

        <activity
            android:name=".activity.BuchenActivity_"
            android:label="Buchung"
            android:parentActivityName=".activity.MainActivity_">
        </activity>

        <activity
            android:name=".activity.ChangePinInfoActivity"
            android:label="Empf. Einstellungen"
            android:parentActivityName=".activity.MainActivity_">
        </activity>

        <activity
            android:name=".help.HelpStartActivity"
            android:label="Hilfe: Start"
            android:parentActivityName=".activity.MainActivity_">
        </activity>

        <activity
            android:name=".help.HelpChangePinActivity"
            android:label="Hilfe: Empf. Einstellungen"
            android:parentActivityName=".activity.ChangePinInfoActivity">

        </activity>

        <activity
            android:name=".help.HelpBookingActivity"
            android:label="Hilfe: Buchung"
            android:parentActivityName=".activity.MainActivity_">

        </activity>

        <activity
            android:name=".help.HelpNewActivity"
            android:label="Hilfe: Start"
            android:parentActivityName=".activity.NewRecipientActivity">

        </activity>

    </application>

</manifest>