<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.cokuss.chhe.pinmoney">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_money"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".HelpActivity" />
        <activity
            android:name=".ShowHistoryActivity"
            android:label="PMHistory"
            android:parentActivityName=".MainActivity">

        </activity>


        <activity
            android:name=".NewRecipientActivity"
            android:label="Neuer Empfänger"
            android:parentActivityName=".MainActivity">

        </activity>

        <activity
            android:name=".ShowAuszugActivity"
            android:label="Kontoauszug"
            android:parentActivityName=".MainActivity">

        </activity>

        <activity
            android:name=".BuchenActivity"
            android:label="Buchung"
            android:parentActivityName=".MainActivity">

        </activity>

        <activity
            android:name=".ChangePinInfoActivity"
            android:label="Empf. Einstellungen"
            android:parentActivityName=".MainActivity">

        </activity>

        <activity
            android:name=".HelpStartActivity"
            android:label="Hilfe: Start"
            android:parentActivityName=".MainActivity">

        </activity>

        <activity
            android:name=".HelpChangePinActivity"
            android:label="Hilfe: Empf. Einstellungen"
            android:parentActivityName=".ChangePinInfoActivity">

        </activity>

        <activity
            android:name=".HelpBookingActivity"
            android:label="Hilfe: Buchung"
            android:parentActivityName=".MainActivity">

        </activity>

        <activity
            android:name=".HelpNewActivity"
            android:label="Hilfe: Start"
            android:parentActivityName=".NewRecipientActivity">

        </activity>

    </application>

</manifest>